nextflow.enable.dsl = 2

params {
    outdir       = "${projectDir}/results"
    max_cpus     = 16
    max_memory   = '60 GB'
    max_time     = '48h'
}

process {

    errorStrategy = 'retry'
    maxRetries    = 2

    cpus   = 2
    memory = '6 GB'
    time   = '12h'

    withName: DOWNLOAD_ARIA {
        cpus   = 8
        memory = '16 GB'
        maxForks = 8
        time   = '24h'
        conda  = "${projectDir}/envs/download_aria.yaml"
    }

    withName: FASTP {
        cpus   = 4
        memory = '6 GB'
        maxForks = 12
        time   = '12h'
        conda  = "${projectDir}/envs/fastp.yaml"
    }

    withName: MULTIQC {
        cpus   = 2
        memory = '4 GB'
        maxForks = 1
        time   = '24h'
        conda  = "${projectDir}/envs/multiqc.yaml"
    }

    withName: KALLISTO {
        cpus   = 8
        memory = '16 GB'
        time   = '24h'
        conda  = "${projectDir}/envs/kallisto.yaml"
    }

    withName: STAR {
        cpus   = 16
        maxForks = 2
        memory = '48 GB'
        time   = '48h'
        conda  = "${projectDir}/envs/star.yaml"
    }

    withName: ARCAS_HLA {
        cpus   = 8
        maxForks = 8
        memory = '16 GB'
        time   = '48h'
        conda  = "${params.arcasHLAEnv}"
    }

    withName: MIXCR {
        cpus   = 8
        maxForks = 6
        memory = '16 GB'
        time   = '48h'
        conda  = "${projectDir}/envs/mixcr.yaml"
    }

    withName: TRUST4 {
        cpus   = 8
        maxForks = 8
        memory = '16 GB'
        time   = '48h'
        conda  = "${projectDir}/envs/trust4.yaml"
    }
}

conda {
    enabled = true
}

profiles {

    standard {
        process.executor = 'local'
    }

}
